<!-- COMENTARIO EN HTML...  -->
{% extends 'layout.html' %} {% block title %} {{titulo}} {% endblock title %}
{%block content %}
<div class="row justify-content-center">
    <div class="col-6 py-3 text-center">
        <h1>Examén final de LP3</h1>
        <p class="alert alert-primary">Integrantes</p>
        <ul class="list-group">
            <li class="list-group-item">Mamani Lingan Jeancarlo</li>
            <li class="list-group-item">Adama Galarza Yahaira Elena </li>
            <li class="list-group-item">De la Cruz Quiroz Victor</li>
            <li class="list-group-item">Durand Rosas Daniel Enrique</li>
          </ul>
    </div>
</div>
{% endblock content %}
